@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&family=Caveat+Brush&display=swap');

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainins {
  display: flex;
  width: 100vw;
  height: 82vh;
  align-items: center;
}

/* mainright */

@media screen and (min-width: 1220px) {
  .mainright {
    position: relative;
    width: 120vw;
    padding: 20px;
    height: 82vh;
    right: 90px;
    justify-items: center;
    display: flex;
    top: 50px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1220px) {
  .mainright {
    position: relative;
    width: 145vw;
    padding: 20px;
    height: 82vh;
    right: 65px;
    justify-items: center;
    display: flex;
    top: 50px;
    gap: 20px;
    flex-wrap: wrap;
  }
}


/* boxes */


@media screen and (min-width: 1220px) {
  .box1 {
    /* background-color: #8c52ff; */
    /* opacity: 0; */
    width: 20vw;
    height: 27vh;
    position: static;
  }

  .box2 {
    background-color: #752ffe;
    width: 27vw;
    height: 27vh;
    position: static;
  }

  .box3 {
    background-color: #752ffe;
    width: 20vw;
    height: 60vh;
    position: static;
  }

  .box4 {
    /* background-color: #752ffe; */
    width: 27vw;
    height: 30.3vh;
    position: relative;
    /* top: -300px; */
    top: -32.6vh;
  }

  .box5 {
    background-color: #8c52ff;
    width: 20vw;
    height: 30.3vh;
    position: relative;
    top: -32.6vh;
  }

  .b1bg {
    object-fit: cover;
    width: 20vw;
    height: 27vh;
  }

  .b2bg {
    object-fit: cover;
    width: 27vw;
    height: 27vh;
  }

  .b3bg {
    object-fit: cover;
    width: 20vw;
    height: 60vh;
  }

  .b4bg {
    object-fit: cover;
    width: 27vw;
    height: 30.3vh;
  }

  .b5bg {
    object-fit: cover;
    width: 20vw;
    height: 30.3vh;
  }
}

@media screen and (max-width: 1220px) and (min-width: 900px) {
  .box1 {
    background-color: #8c52ff;
    width: 19vw;
    height: 24vh;
    position: static;
  }

  .box2 {
    background-color: #752ffe;
    width: 25vw;
    height: 24vh;
    position: static;
  }

  .box3 {
    background-color: #8c52ff;
    width: 21vw;
    height: 49vh;
    position: static;
  }

  .box4 {
    background-color: #752ffe;
    width: 26vw;
    height: 23vh;
    position: relative;
    /* top: -268px; */
    top: -29vh;
  }

  .box5 {
    background-color: #8c52ff;
    width: 18vw;
    height: 23vh;
    position: relative;
    top: -29vh;
  }

  .b1bg {
    object-fit: cover;
    width: 19vw;
    height: 24vh;
  }

  .b2bg {
    object-fit: cover;
    width: 25vw;
    height: 24vh;
  }

  .b3bg {
    object-fit: cover;
    width: 21vw;
    height: 49vh;
  }

  .b4bg {
    object-fit: cover;
    width: 26vw;
    height: 23vh;
  }

  .b5bg {
    object-fit: cover;
    width: 18vw;
    height: 23vh;
  }
}


/* text images */

@media screen and (min-width: 1480px) {

  .b1s1 {
    font-family: 'Caveat Brush';
    font-size: 64px;
    font-weight: 580;
    padding: 20px;
    padding-top: 20px;
    padding-left: 35px;
    background-color: transparent;
    color: #004aad;
  }

  .b2s1 {
    font-family: 'Caveat Brush';
    font-size: 70px;
    font-weight: 599;
    line-height: 60px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 15px;
    background-color: transparent;
    color: rgb(8, 48, 179);
  }

  .b2s2 {
    font-family: 'Caveat Brush';
    font-size: 70px;
    font-weight: 599;
    line-height: 60px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 15px;
    background-color: transparent;
    color: black;
  }

  .b3s1 {
    font-family: 'Caveat Brush';
    font-size: 70px;
    font-weight: 580;
    padding: 20px;
    padding-top: 37px;
    padding-left: 35px;
    background-color: transparent;
    color: black;
  }

  .b4s1 {
    font-family: 'Caveat Brush';
    font-size: 70px;
    font-weight: 599;
    padding: 20px;
    padding-top: 13px;
    padding-left: 28px;
    background-color: transparent;
    color: rgb(20, 2, 122);
    line-height: 60px;
  }

  .b5s1 {
    font-family: 'Caveat Brush';
    font-size: 70px;
    font-weight: 599;
    padding: 20px;
    padding-top: 167px;
    padding-left: 88px;
    background-color: transparent;
    color: black;
  }
}

@media screen and (max-width: 1480px) and (min-width: 1260px) {

  .b1s1 {
    font-family: 'Caveat Brush';
    font-size: 54px;
    font-weight: 580;
    padding: 20px;
    padding-top: 26px;
    padding-left: 28px;
    background-color: transparent;
    color: #004aad;
  }

  .b2s1 {
    font-family: 'Caveat Brush';
    font-size: 59px;
    font-weight: 599;
    line-height: 40px;
    padding: 20px;
    padding-top: 2px;
    padding-left: 14px;
    background-color: transparent;
    color: rgb(8, 48, 179);
  }

  .b2s2 {
    font-family: 'Caveat Brush';
    font-size: 59px;
    font-weight: 599;
    line-height: 60px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 14px;
    background-color: transparent;
    color: black;
  }

  .b3s1 {
    font-family: 'Caveat Brush';
    font-size: 64px;
    font-weight: 580;
    padding: 20px;
    padding-top: 33px;
    padding-left: 28px;
    background-color: transparent;
    color: black;
  }

  .b4s1 {
    font-family: 'Caveat Brush';
    font-size: 64px;
    font-weight: 599;
    padding: 20px;
    padding-top: 10px;
    padding-left: 28px;
    background-color: transparent;
    color: rgb(20, 2, 122);
    line-height: 60px;
  }

  .b5s1 {
    font-family: 'Caveat Brush';
    font-size: 64px;
    font-weight: 599;
    padding: 20px;
    padding-top: 157px;
    padding-left: 78px;
    background-color: transparent;
    color: black;
  }

}

@media screen and (max-width: 1260px) and (min-width: 1201px) {

  .b1s1 {
    font-family: 'Caveat Brush';
    font-size: 50px;
    font-weight: 580;
    padding: 20px;
    padding-top: 37px;
    padding-left: 20px;
    background-color: transparent;
    /* (removed) background-color: #8c52ff; */
    color: #004aad;
  }

  .b2s1 {
    font-family: 'Caveat Brush';
    font-size: 54px;
    font-weight: 599;
    padding: 20px;
    padding-top: 0px;
    padding-left: 4px;
    background-color: transparent;
    color: rgb(8, 48, 179);
    line-height: 60px;
  }

  .b2s2 {
    font-family: 'Caveat Brush';
    font-size: 54px;
    font-weight: 599;
    padding: 20px;
    padding-top: 0px;
    padding-left: 6px;
    background-color: transparent;
    color: black;
    line-height: 30px;
  }

  .b3s1 {
    font-family: 'Caveat Brush';
    font-size: 54px;
    font-weight: 580;
    padding: 20px;
    padding-top: 33px;
    padding-left: 28px;
    background-color: transparent;
    color: black;
  }

  .b4s1 {
    font-family: 'Caveat Brush';
    font-size: 54px;
    font-weight: 599;
    padding: 20px;
    padding-top: 33px;
    padding-left: 28px;
    background-color: transparent;
    color: rgb(20, 2, 122);
    line-height: 60px;
  }

  .b5s1 {
    font-family: 'Caveat Brush';
    font-size: 54px;
    font-weight: 599;
    padding: 20px;
    padding-top: 163px;
    padding-left: 28px;
    background-color: transparent;
    color: black;
    line-height: 60px;
  }


}

@media screen and (max-width: 1201px) and (min-width: 900px) {

  .b1s1 {
    font-family: 'Caveat Brush';
    font-size: 55px;
    font-weight: 580;
    padding: 0px;
    padding-top: 10px;
    line-height: 40px;
    padding-left: 15px;
    background-color: transparent;
    color: #004aad;
  }

  .b2s1 {
    font-family: 'Caveat Brush';
    font-size: 44px;
    font-weight: 599;
    line-height: 10px;
    padding: 20px;
    padding-top: 20px;
    padding-left: 8px;
    background-color: transparent;
    color: rgb(8, 48, 179);
  }

  .b2s2 {
    font-family: 'Caveat Brush';
    font-size: 39px;
    font-weight: 80px;
    line-height: 20px;
    padding: 20px;
    padding-top: 30px;
    padding-left: 8px;
    background-color: transparent;
    color: black;
  }

  .b3s1 {
    font-family: 'Caveat Brush';
    font-size: 44px;
    font-weight: 580;
    padding: 20px;
    padding-top: 33px;
    padding-left: 28px;
    background-color: transparent;
    color: black;
  }

  .b4s1 {
    font-family: 'Caveat Brush';
    font-size: 44px;
    font-weight: 600;
    line-height: 45px;
    padding: 20px;
    padding-top: 13px;
    padding-left: 28px;
    background-color: transparent;
    color: rgb(20, 2, 122);
  }

  .b5s1 {
    font-family: 'Caveat Brush';
    font-size: 44px;
    font-weight: 600;
    line-height: 40px;
    padding: 20px;
    padding-top: 139px;
    padding-left: 28px;
    background-color: transparent;
    color: black;
  }
}


/* mainleft */


@media screen and (min-width: 1200px) {
  .mainleft {
    position: relative;
    margin: -50px;
    bottom: 20px;
    /* top: 27vh; */
    width: 700px;
    height: 15vw;
    left: -50px;
    font-family: 'Bungee';
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: #004aad;
    font-size: 35;
  }
}


@media screen and (max-width: 1200px) and (min-width: 785px) {
  .mainleft {
    position: relative;
    margin: -50px;
    bottom: 100px;
    /* top: 27vh; */
    width: 700px;
    height: 15vw;
    left: -50px;
    font-family: 'Bungee';
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: #004aad;
    font-size: 35;
  }
}

@media screen and (max-width: 785px) and (min-width: 400px) {
  .mainleft {
    position: relative;
    margin: 10px;
    bottom: 20px;
    /* top: 27vh; */
    width: 550px;
    height: 15vw;
    left: -50px;
    font-family: 'Bungee';
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: #004aad;
    font-size: 20;
  }
}

.partition {
  width: 100vw;
  height: 6px;
  background-color: black;
}

.linka {
  text-decoration: none;
  position: relative;
  object-fit: cover;
}