@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&family=Caveat+Brush&display=swap');

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainins {
  display: flex;
  width: 100vw;
  height: 82vh;
  align-items: center;
}

/* mainright */

@media screen and (min-width: 1220px) {
  .mainright {
    position: relative;
    width: 120vw;
    padding: 20px;
    height: 82vh;
    right: 90px;
    justify-items: center;
    display: flex;
    top: 50px;
    gap: 20px;
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 1220px) {
  .mainright {
    position: relative;
    width: 145vw;
    padding: 20px;
    height: 82vh;
    right: 65px;
    justify-items: center;
    display: flex;
    top: 50px;
    gap: 20px;
    flex-wrap: wrap;
  }
}


/* boxes */


@media screen and (min-width: 1220px) {
  .box1 {
    background-color: #8c52ff;
    width: 20vw;
    height: 27vh;
    position: static;
  }

  .box2 {
    background-color: #752ffe;
    width: 27vw;
    height: 27vh;
    position: static;
  }

  .box3 {
    background-color: #8c52ff;
    width: 20vw;
    height: 60vh;
    position: static;
  }

  .box4 {
    background-color: #752ffe;
    width: 27vw;
    height: 30.3vh;
    position: relative;
    /* top: -300px; */
    top: -32.6vh;
  }

  .box5 {
    background-color: #8c52ff;
    width: 20vw;
    height: 30.3vh;
    position: relative;
    /* top: -300px; */
    top: -32.6vh;
  }

  /* box texts */

  

}

@media screen and (max-width: 1220px) and (min-width: 900px) {
  .box1 {
    background-color: #8c52ff;
    width: 19vw;
    height: 24vh;
    position: static;
  }

  .box2 {
    background-color: #752ffe;
    width: 25vw;
    height: 24vh;
    position: static;
  }

  .box3 {
    background-color: #8c52ff;
    width: 21vw;
    height: 49vh;
    position: static;
  }

  .box4 {
    background-color: #752ffe;
    width: 26vw;
    height: 23vh;
    position: relative;
    /* top: -268px; */
    top: -29vh;
  }

  .box5 {
    background-color: #8c52ff;
    width: 18vw;
    height: 23vh;
    position: relative;
    top: -29vh;
  }
}


/* mainleft */


@media screen and (min-width: 1200px) {
  .mainleft {
    position: relative;
    margin: -50px;
    bottom: 20px;
    /* top: 27vh; */
    width: 700px;
    height: 15vw;
    left: -50px;
    font-family: 'Bungee';
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: #004aad;
    font-size: 35;
  }
}


@media screen and (max-width: 1200px) and (min-width: 785px) {
  .mainleft {
    position: relative;
    margin: -50px;
    bottom: 100px;
    /* top: 27vh; */
    width: 700px;
    height: 15vw;
    left: -50px;
    font-family: 'Bungee';
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: #004aad;
    font-size: 35;
  }
}

@media screen and (max-width: 785px) and (min-width: 400px) {
  .mainleft {
    position: relative;
    margin: 10px;
    bottom: 20px;
    /* top: 27vh; */
    width: 550px;
    height: 15vw;
    left: -50px;
    font-family: 'Bungee';
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-items: center;
    color: #004aad;
    font-size: 20;
  }
}